@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');



.nav-link::after {
  content: '';
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid white;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.nav-link:hover::after {
  color: antiquewhite;
  transform: scaleX(1);
}

.navbar-brand span {
  font-weight: 600;
}

h6 {
  font-family: "Merienda", cursive;
}


.btn-container button {
  width: 10rem;
  margin-top: 6px;
  color: white;
  background: transparent;
  border: 2px solid white;
  transition: 0.3s ease-in-out;
}

.btn-container button:hover {
  color: black;
  box-shadow: 0 0 1rem white;
  background: white;
}


.nav-link {
  font-size: 1.5rem;
  font-weight: 700;
}


.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}

.sosmed {
  margin-top: 10rem;
  margin-bottom: 5rem;
  background-color: #0D1A22;
  color: #fff;
}

.form-label {
  margin-bottom: 8px;
  display: block;
}

.form-control {
  width: 97%;
  border: 1px solid black;
  padding: 8px;
}

.mb-3 {
  margin-bottom: 15px;
}

.btn {
  background-color: white;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  float: right;
  margin-bottom: 5%;
}

.btn:hover {
  background-color: #0056b3;
}

.social-media {
  margin-bottom: 20px;
  text-align: center;
}

.social-media a {
  margin: 0 10px;
  font-size: 24px;
  color: #007bff;
}

.social-media a:hover {
  color: #0056b3;
}

.form-container {
  margin-bottom: 20px;
}

.map {
  text-align: center;
}

.map iframe {
  width: 100%;
  height: 450px;
  border: 0;
  margin-bottom: 20px;
}